<header>
  <div class="operations">
    <button [disabled]="Choosing || simulating||afterSim" title="Add Node" (click)="add()">
      <div class = "button-text">X+</div>
    </button>

    <button [disabled]="Choosing || simulating||afterSim" (click) = "addArrow()">
      <div title="Connect with Arrows"class = "button-text">↗</div>
    </button>

    <button [disabled]="Choosing || simulating||afterSim" (click)="startSimulation()">
      <div title="Start Simulation" class = "button-text">▶</div>
    </button>

    <button [disabled]="Choosing ||simulating" title="Clear all the board" (click)="clearAll()">
      <div class = "button-text">⌧</div>
    </button>

  </div>

</header>
<section>
  <div id="container"></div>
</section>


