<header>
  <div id = "title"><b>Signal Flow Graph</b></div>
  <div class="shapes">
    <button [disabled]="Choosing" title="Add Node" (click)="add('node','white')">
      <div class = "button-text">X+</div>
    </button>

    <button [disabled]="Choosing || hasSource" title="Add source" (click)="add('source','yellow')">
      <div class = "button-text">Src+</div>
    </button>

    <button [disabled]="Choosing || hasSink" title="Add sink" (click)="add('sink','orange')">
      <div class = "button-text">Sink+</div>
    </button>

    <button [disabled]="Choosing" (click) = "addArrow()">
      <div title="Connect with Arrows"class = "button-text">↗</div>
    </button>

    <button [disabled]="Choosing || !!(hasSink && hasSource)" (click)="startSolving()">
      <div title="Solve" class = "button-text">=</div>
    </button>

    <button [disabled]="Choosing" (click)="updateGains()">
      <div title="Update gains" class = "button-text">🗘</div>
    </button>

    <button [disabled]="Choosing" title="Clear all the board" (click)="clearAll()">
      <div class = "button-text">⌧</div>
    </button>

  </div>

</header>
<section>
  <div id="container"></div>
</section>
<section>
  <div id="textBox">
    <table [hidden]="hideResults">
      <caption [hidden]="displayError" style="color:red;">Graph Not valid</caption>
      <caption>Results</caption>
      <thead>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{TableHeaders[0]}}</th>
          <div *ngFor="let row of this.paths; index as i"><td *ngFor=" let col of row.path; index as j ">{{col}}</td><td>gain = {{row.gain}}</td></div>
        </tr>

        <tr>
          <th scope="row">{{TableHeaders[1]}}</th>
          <div *ngFor="let row of this.loops; index as i"><td *ngFor=" let col of row.loop; index as j ">{{col}}</td><td>gain = {{row.gain}}</td></div>
        </tr>

        <tr>
          <th scope="row">{{TableHeaders[2]}}</th>
          <div *ngFor="let row of this.noneTouchingLoops index as i" style="border: solid black;">
            <div *ngIf="i != 0">{{i+1}} Non Touching
              <div *ngFor=" let col of row[(i+1).toString()] index as j" [ngStyle]="{'border-bottom':((j+1)%(i+1) == 0) ? 'solid grey' : 'none'}">
                      <td *ngFor="let cell of col.loop index as k" >
                        {{cell}}
                      </td>
                      <td>gain = {{col.gain}}</td>
                </div>
              </div>
            </div>
        </tr>

        <tr>
          <th scope="row">{{TableHeaders[3]}}</th>
          <div *ngFor="let row of this.pathsDeterminants; index as i">
            <td *ngFor=" let col of row.path; index as j ">
            {{col}}
          </td>
          <td>Δ<sub>{{i+1}}</sub> = {{row.factor}}</td></div>
        </tr>

        <tr>
          <th scope="row">{{TableHeaders[4]}}</th>
          <td>Δ = {{this.determinant}}</td>
        </tr>

        <tr>
          <th scope="row">{{TableHeaders[5]}}</th>
          <td>{{this.answer}}</td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
</section>


